@import './utils.scss';
@import './style.scss';

body {
  background: $black;
  color: $white;
  font-family: 'SpoqaHanSansNeo-Regular';
  header {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0 50px 0;
    width: 100%;
    top: 0;
    position: absolute;
    #main_logo {
      font-weight: 700;
      font-family: 'GowunBatang-Bold';
      font-size: 1.5rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    
    #address {
      width: 300px;
      height: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: end;
      font-size: 1rem;
      line-height: 25px;
      margin-right: 20px;
      .address_icon {
        width: 21px;
        height: 25px;
        margin-right:5px;
      }
      #address_text {
        font-size: .85rem;
      }
    }
  }
  .main_contents_wrap {
    position: relative;
    #main_video {
      > video {
        width: 100%;
        height: 100vh;
      }
    }
    .video_cover {
      width: 100%;
      height: 100vh;
      top: 0;
      position: absolute;
      z-index: 1;
      background-color: #1111116b;
    }
    button {
      background: transparent;
      border: none;
      top: 50%;
      z-index: 2;
      position: absolute;
      :hover {
        cursor: pointer;
      }
      &#left_move {
        left: 1.5rem;
      }
      &#right_move {
        right: 1.5rem;
      }
    }
    .move_btn {
      width: 25px;
      height: 25px;
    }
  }
}
